.header {
  padding-top: 26px;
  padding-bottom: 26px;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 30px;
}

.header__search {
  justify-self: center;
}

.header__user-nav {
  display: flex;
  align-items: center;
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__phone-icon {
  margin-right: 5px;
}

.header__cart {
  margin-left: auto;
}