.count-control {
  min-height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-control__button {
  width: 34px;
  height: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 1;
  border: 1px solid $primary-color;
  border-radius: 50%;
  background-color: transparent;

  &--inc {
    padding-bottom: 8px;
  }

  &--dec {
    padding-bottom: 1px;
  }
}