.goods-item {
  min-height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
  line-height: 27px;
}

.goods-item__image {
  display: block;
  width: 100%;
  min-height: 340px;
  object-fit: contain;
}

.goods-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

.goods-item__inner {
  width: 100%;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-item__price {
  display: block;
  margin-right: 40px;
  font-weight: 700;
}

.goods-item__button {
  flex: none;
  margin-right: 40px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid $primary-color;
}