html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $primary-color;
  background-color: $secondary-color;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="search"]::-webkit-search-cancel-button {
 display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1880px;
  padding: 0 30px;
  margin: 0 auto;
}

.main {
  padding-top: 44px;
  padding-bottom: 120px;
}